<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <meta name="format-detection" content="telephone=no" />

    <meta http-equiv="Content-Language" content="en">

    <meta name="description" content="Do you need an appointment to the doctor? There is a site for doctors and patients of Modsen Health Clinique!" />
    <meta name="keywords" content="modsen health, clinique, doctor, appointment" />

    <meta name="Author" content="Sergey Svistun, Maxim Rojkov" />
    <meta name="Copyright" content="Modsen" /> 
    <meta name="Address" content="Warsaw, Poland, Stefana Okrzei 1a/10" />

    <link rel="icon" href="<%= process.env.BASE_URL %>favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="<%= process.env.BASE_URL %>favicon.ico" type="image/x-icon" />

    <title>Appointment to the doctor | Modsen Health</title>

    <script src="https://kit.fontawesome.com/d2ad83175c.js" crossorigin="anonymous">
      console.clear();
    </script>
  </head>

  <body>
    <noscript>
      <strong>
        We're sorry but this doesn't work properly without JavaScript enabled. Please enable it to continue.
      </strong>
    </noscript>
    <div id="root"></div>
  </body>
</html>